.archive
.config/age/**
.config/backlog/**
.config/keeper/**
.config/openai/**
.config/prismaaccess/**
{{ if eq .chezmoi.os "darwin" }}
.chezmoiscripts/windows/
.chezmoiscripts/linux/
Documents/
scoop/
.wslconfig
{{ end }}
{{ if eq .chezmoi.os "windows" }}
.chezmoiscripts/darwin/
.chezmoiscripts/linux/
Library/
.bash*
.hushlogin
.inputrc
{{ end }}
