.archive
{{ if eq .chezmoi.os "darwin" }}
.chezmoiscripts/windows/
Documents/
scoop/
.wslconfig
syncbundle
{{ end }}
{{ if eq .chezmoi.os "windows" }}
.chezmoiscripts/darwin/
.iterm2.config/
Library/
.bash*
.hushlogin
.inputrc
.tool-versions
.local/bin/syncbundle
{{ end }}
