.archive
{{ if eq .chezmoi.os "windows" }}
.chezmoiscripts/*darwin*
dot_iterm2.config/
private_Library/
dot_bash*
dot_colorrc
dot_curlrc
dot_inputrc
dot_tool-versions
dot_wgetrc
empty_dot_hushlogin
{{ end }}
