tap "aws/tap"
tap "charmbracelet/tap"
tap "fujiwara/tap"
tap "go-to-k/tap"
tap "goreleaser/tap"
tap "homebrew/bundle"
tap "knqyf263/utern"
tap "nekrassov01/tap"
brew "aha"
brew "bash"
brew "bash-completion@2"
brew "bat"
brew "coreutils", link: false
brew "bats-core"
brew "circleci"
brew "cloudformation-guard"
brew "findutils"
brew "fzf"
brew "gawk"
brew "gh"
brew "ghq"
brew "git"
brew "git-secrets"
brew "gnu-sed"
brew "gnu-tar"
brew "grep"
brew "gzip"
brew "jq"
brew "mise"
brew "rename"
brew "ripgrep"
brew "shellcheck"
brew "shfmt"
brew "tree"
brew "wget"
brew "xz"
brew "yq"
brew "charmbracelet/tap/freeze"
brew "fujiwara/tap/lambroll"
brew "go-to-k/tap/cls3"
brew "go-to-k/tap/delstack"
brew "go-to-k/tap/lamver"
brew "goreleaser/tap/goreleaser"
brew "knqyf263/utern/utern"
brew "nekrassov01/tap/alpen"
brew "nekrassov01/tap/llcm"
brew "nekrassov01/tap/s3bytes"
brew "nekrassov01/tap/tlc3"
cask "displaylink"
cask "font-moralerspace-nf"
cask "font-udev-gothic-nf"
cask "ghostty"{{ if eq .chezmoi.hostname "k11" }}
cask "google-chrome"{{ end }}
cask "kindle"
cask "powershell"
cask "rancher"
cask "skitch"
cask "visual-studio-code"
