/System/Applications/Launchpad.app
/System/Applications/Calendar.app{{ if eq .chezmoi.hostname "kawashima2"}}
/Applications/Slack.app{{ end }}
/Applications/Google Chrome.app
/Applications/Visual Studio Code.app
/Applications/WezTerm.app
/System/Applications/System Settings.app
