{
  "[markdown]": {
    "editor.fontFamily": "Moralerspace Neon HW",
    "editor.defaultFormatter": "yzhang.markdown-all-in-one",
    "editor.wordWrap": "off",
    "files.trimTrailingWhitespace": false,
  },
  "[powershell]": {
    "editor.defaultFormatter": "ms-vscode.powershell",
  },
  "[shellscript][bats]": {
    "editor.defaultFormatter": "foxundermoon.shell-format",
  },
  "chat.agent.enabled": true,
  "chat.agent.sandbox.enabled": "off",
  "debug.console.fontSize": 18,
  "debug.console.wordWrap": false,
  "debug.inlineValues": "on",
  "diffEditor.ignoreTrimWhitespace": false,
  "diffEditor.wordWrap": "off",
  "editor.accessibilitySupport": "off",
  "editor.copyWithSyntaxHighlighting": false,
  "editor.emptySelectionClipboard": false,
  "editor.fontFamily": "'Udev gothic 35', 'Moralerspace Neon', Menlo, Monaco, Consolas, 'Courier New', monospace",
  "editor.fontSize": 18,
  "editor.guides.bracketPairs": true,
  "editor.minimap.enabled": false,
  "editor.renderWhitespace": "all",
  "editor.semanticHighlighting.enabled": true,
  "editor.showFoldingControls": "always",
  "editor.snippetSuggestions": "top",
  "editor.stickyScroll.enabled": false,
  "editor.suggest.showKeywords": false,
  "editor.suggest.showWords": false,
  "editor.suggestSelection": "recentlyUsedByPrefix",
  "editor.tabCompletion": "on",
  "editor.wordBasedSuggestions": "off",
  "explorer.autoReveal": false,
  "explorer.compactFolders": false,
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "explorer.incrementalNaming": "smart",
  "explorer.sortOrder": "type",
  "explorer.sortOrderLexicographicOptions": "unicode",
  "files.associations": {
    "**/*.bats": "bats",
    "**/*rc": "properties",
    "**/.aws/config": "properties",
    "**/.bash*": "shellscript",
    "**/*history": "plaintext",
    "**/.hushlogin": "plaintext",
    "**/.shellspec": "properties",
    "**/.ssh/config": "ssh-config",
    "**/.ssh/include/*": "ssh-config",
    "**/git/attributes": "properties",
    "**/git/config": "properties",
    "**/git/ignore": "ignore",
    "**/*.tmpl": "go-template",
    "**/.env*": "dotenv",
  },
  "files.eol": "\n",
  "files.hotExit": "off",
  "files.watcherExclude": {
    ".git/objects/**": true,
    ".git/subtree-cache/**": true,
    ".hg/store/**": true,
    "*/.git/objects/**": true,
    "*/.git/subtree-cache/**": true,
    "*/.hg/store/**": true,
    "**/node_modules/*/**": true,
    "**/out/**": true,
  },
  "github.copilot.enable": {
    "*": true,
    "plaintext": false,
    "markdown": false,
    "scminput": false,
    "dotenv": false,
    "ignore": false,
    "properties": false,
    "json": false,
    "jsonl": false,
    "jsonc": false,
    "toml": false,
    "yaml": false,
  },
  "github.copilot.nextEditSuggestions.enabled": true,
  "gitlens.codeLens.recentChange.enabled": false,
  "gitlens.codeLens.authors.enabled": false,
  "gitlens.graph.minimap.enabled": false,
  "gitlens.telemetry.enabled": false,
  "go.generateTestsFlags": ["-template_dir", "{{ .chezmoi.homeDir }}/.config/gotests/templates"],
  "json.schemaDownload.enable": true,
  "markdown.extension.orderedList.autoRenumber": false,
  "markdown.extension.orderedList.marker": "one",
  "markdown.preview.breaks": true,
  "markdownlint.run": "onType",
  "markdownlint.configFile": "{{ .chezmoi.homeDir }}/.config/markdownlint/.markdownlint-cli2.yaml",
  "powershell.codeFormatting.preset": "Stroustrup",
  "powershell.codeFormatting.alignPropertyValuePairs": false,
  "powershell.integratedConsole.showOnStartup": false,
  "redhat.telemetry.enabled": false,
  "search.exclude": {
    "**/*.code-search": true,
    "**/bower_components": true,
    "**/node_modules": true,
  },
  "search.showLineNumbers": true,
  "telemetry.telemetryLevel": "off",
  "terminal.external.osxExec": "Ghostty.app",
  "terminal.integrated.copyOnSelection": true,
  "terminal.integrated.fontFamily": "'Udev gothic 35', 'Moralerspace Neon', Menlo, Monaco, Consolas, 'Courier New', monospace",
  "terminal.integrated.fontSize": 16,
  {{ if eq .chezmoi.os "darwin" -}}
  "terminal.integrated.profiles.osx": {
    "pwsh": {
      "icon": "terminal-powershell",
      "path": "pwsh",
    },
  },
  {{- end -}}
  {{- if eq .chezmoi.os "windows" -}}
  "terminal.integrated.profiles.windows": {
    "pwsh": {
      "icon": "terminal-powershell",
      "path": "${env:USERPROFILE}\\scoop\\apps\\pwsh\\current\\pwsh.exe",
    },
  },
  {{- end }}
  "terminal.integrated.scrollback": 2048,
  "terminal.integrated.stickyScroll.enabled": false,
  "textlint.run": "onType",
  "textlint.configPath": "{{ .chezmoi.homeDir }}/.config/textlint/.textlintrc.json",
  "textlint.ignorePath": "{{ .chezmoi.homeDir }}/.config/textlint/.textlintignore",
  "window.openWithoutArgumentsInNewWindow": "on",
  "window.restoreWindows": "none",
  "workbench.colorTheme": "GitHub Dark Default",
  "workbench.commandPalette.history": 32,
  "workbench.commandPalette.preserveInput": true,
  "workbench.editor.enablePreview": false,
  "workbench.iconTheme": "material-icon-theme",
  "workbench.secondarySideBar.defaultVisibility": "hidden",
  "workbench.settings.editor": "json",
  "workbench.settings.openDefaultKeybindings": true,
  "workbench.settings.openDefaultSettings": true,
  "workbench.settings.useSplitJSON": true,
  "workbench.startupEditor": "readme",
  "workbench.tree.indent": 16,
  "workbench.view.alwaysShowHeaderActions": true,
}
