{
  "editor.copyWithSyntaxHighlighting": false,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.detectIndentation": false,
  "editor.emptySelectionClipboard": false,
  "editor.foldingMaximumRegions": 32768,
  "editor.fontFamily": "'MoralerSpace Neon NF', 'Google Sans Code', 'Udev gothic 35NF', Menlo, Monaco, Consolas, 'Courier New', monospace",
  "editor.fontSize": 16,
  "editor.guides.bracketPairs": true,
  "editor.minimap.enabled": false,
  "editor.mouseWheelZoom": true,
  "editor.renderWhitespace": "all",
  "editor.showFoldingControls": "always",
  "editor.semanticHighlighting.enabled": true,
  "editor.snippetSuggestions": "top",
  "editor.suggest.showKeywords": false,
  "editor.suggest.showWords": false,
  "editor.suggestSelection": "recentlyUsedByPrefix",
  "editor.tabCompletion": "on",
  "editor.tabSize": 2,
  "editor.stickyScroll.enabled": true,
  "editor.wordBasedSuggestions": "false",
  "explorer.autoReveal": false,
  "explorer.confirmDragAndDrop": false,
  "explorer.confirmDelete": false,
  "explorer.compactFolders": false,
  "explorer.incrementalNaming": "smart",
  "explorer.sortOrder": "type",
  "explorer.sortOrderLexicographicOptions": "unicode",
  "terminal.external.osxExec": "Ghostty.app",
  "terminal.integrated.fontFamily": "'MoralerSpace Neon NF', 'Google Sans Code', 'Udev gothic 35NF', Menlo, Monaco, Consolas, 'Courier New', monospace",
  "terminal.integrated.fontSize": 14,
  "terminal.integrated.copyOnSelection": true,
  "terminal.integrated.scrollback": 65535,
  {{ if eq .chezmoi.os "darwin" -}}
  "terminal.integrated.profiles.osx": {
    "pwsh": {
      "path": "pwsh",
      "icon": "terminal-powershell"
    }
  },
  {{- end -}}
  {{- if eq .chezmoi.os "windows" -}}
  "terminal.integrated.profiles.windows": {
    "pwsh": {
      "path": "${env:USERPROFILE}\\scoop\\apps\\pwsh\\current\\pwsh.exe",
      "icon": "terminal-powershell"
    }
  },{{- end }}
  "workbench.commandPalette.history": 65535,
  "workbench.commandPalette.preserveInput": true,
  "workbench.colorTheme": "GitHub Dark Default",
  "workbench.editor.enablePreview": false,
  "workbench.iconTheme": "material-icon-theme",
  "workbench.settings.editor": "json",
  "workbench.settings.openDefaultSettings": true,
  "workbench.settings.openDefaultKeybindings": true,
  "workbench.settings.useSplitJSON": true,
  "workbench.startupEditor": "readme",
  "workbench.tree.indent": 20,
  "workbench.view.alwaysShowHeaderActions": true,
  "files.associations": {
    "**/git/attributes": "properties",
    "**/git/config": "properties",
    "**/git/ignore": "ignore",
    "**/.aws/config": "properties",
    "**/.ssh/config": "ssh-config",
    "**/.ssh/include/*": "ssh-config",
    "**/*.backlog": "backlog",
    "**/*.bl": "backlog",
    "**/*rc": "properties",
    "**/.bash*": "shellscript",
    "**/*.bats": "bats",
    "**/.hushlogin": "plaintext",
    "**/.tool-versions": "properties",
    "**/.shellspec": "properties",
    "*.yml": "yaml",
    "*.tmpl": "go-template",
    ".env*": "dotenv"
  },
  "files.eol": "\n",
  "files.hotExit": "off",
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,
  "files.watcherExclude": {
    "**/.git/objects/**": true,
    "**/.git/subtree-cache/**": true,
    "**/node_modules/*/**": true,
    "**/.hg/store/**": true,
    "**/out/**": true,
    "**/Box-Box/**": true
  },
  "window.openWithoutArgumentsInNewWindow": "on",
  "window.restoreWindows": "none",
  "debug.console.fontSize": 18,
  "debug.console.wordWrap": false,
  "debug.inlineValues": "on",
  "diffEditor.wordWrap": "off",
  "diffEditor.ignoreTrimWhitespace": false,
  "search.exclude": {
    "**/node_modules": true,
    "**/bower_components": true,
    "**/*.code-search": true,
    "**/Box-Box": true
  },
  "search.showLineNumbers": true,
  "security.workspace.trust.untrustedFiles": "open",
  "telemetry.telemetryLevel": "off",
  "containers.containerCommand": "~/.rd/bin/docker",
  "chat.agent.enabled": true,
  "github.copilot.enable": {
    "*": true,
    "dotenv": false
  },
  "git.openRepositoryInParentFolders": "never",
  "gitlens.rebaseEditor.ordering": "asc",
  "gitlens.telemetry.enabled": false,
  "redhat.telemetry.enabled": false,
  "docker.extension.enableComposeLanguageServer": false,
  "json.schemaDownload.enable": true,
  "python.languageServer": "Pylance",
  "python.analysis.autoImportCompletions": true,
  "notebook.markup.fontSize": 12,
  {{ if eq .chezmoi.os "darwin" -}}
  "go.gopath": "~/.local/share/mise/installs/go/latest/packages",
  "go.goroot": "~/.local/share/mise/installs/go/latest",
  {{- end }}
  "go.formatTool": "gofmt",
  "go.lintTool": "golangci-lint",
  "go.toolsManagement.autoUpdate": true,
  "go.useLanguageServer": true,
  "gopls": {
    "build.directoryFilters": ["-**/node_modules", "-**/.git/objects", "-**/.git/subtree-cache"]
  },
  "shellcheck.exclude": ["1090", "1091"],
  "shellcheck.ignorePatterns": {
    "**/Box-Box": true
  },
  "shellformat.effectLanguages": ["shellscript", "bats"],
  "powershell.codeFormatting.preset": "Stroustrup",
  "powershell.codeFormatting.alignPropertyValuePairs": false,
  "powershell.integratedConsole.showOnStartup": false,
  "typescript.updateImportsOnFileMove.enabled": "always",
  "javascript.updateImportsOnFileMove.enabled": "always",
  "prettier.printWidth": 120,
  "eslint.validate": ["javascript", "javascriptreact", "typescript", "typescriptreact"],
  "css.validate": false,
  "svelte.enable-ts-plugin": true,
  "yaml.schemaStore.enable": false,
  "yaml.customTags": [
    "!And",
    "!If",
    "!Not",
    "!Equals",
    "!Or",
    "!FindInMap sequence",
    "!Base64",
    "!Cidr",
    "!Ref",
    "!Sub",
    "!GetAtt",
    "!GetAZs",
    "!ImportValue",
    "!Select",
    "!Select sequence",
    "!Split",
    "!Join sequence"
  ],
  "markdown.preview.fontSize": 12,
  "markdown.preview.lineHeight": 1.4,
  "markdown.preview.breaks": true,
  "markdown.extension.orderedList.marker": "one",
  "markdown.extension.orderedList.autoRenumber": false,
  "markdownlint.run": "onType",
  "markdownlint.config": {
    "MD010": false,
    "MD024": false,
    "MD033": false,
    "MD041": false
  },
  "stylelint.enable": true,
  "backlog.preview.fontSize": 12,
  "backlog.preview.lineHeight": 1.4,
  "[dockerfile]": {
    "editor.defaultFormatter": "ms-azuretools.vscode-docker"
  },
  "[yaml][github-actions-workflow][dockercompose]": {
    "editor.defaultFormatter": "redhat.vscode-yaml",
    "editor.tabSize": 2
  },
  "[toml]": {
    "editor.defaultFormatter": "tamasfe.even-better-toml",
    "editor.insertSpaces": true,
    "editor.formatOnSave": true,
    "files.insertFinalNewline": true
  },
  "[shellscript][bats]": {
    "editor.defaultFormatter": "foxundermoon.shell-format"
  },
  "[powershell]": {
    "editor.defaultFormatter": "ms-vscode.powershell"
  },
  "[markdown]": {
    "editor.defaultFormatter": "yzhang.markdown-all-in-one",
    "editor.wordWrap": "off",
    "files.trimTrailingWhitespace": false
  },
}
